<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <!-- Simple console logger --> 
        <Console name="ConsoleJSONAppender" target="SYSTEM_OUT">
        	<JsonLayout complete="false" compact="false">
        		<KeyValuePair key="TraceId" value="%X{traceId}" />
        		<KeyValuePair key="SpanId" value="%X{spanId}" />
        	</JsonLayout>
    	</Console>
    </Appenders>
    <Loggers>
		<Logger name="CONSOLE_JSON_APPENDER" level="TRACE" additivity="false">
		    <AppenderRef ref="ConsoleJSONAppender" />
		</Logger>
        <Root level="debug">
            <AppenderRef ref="ConsoleJSONAppender"/>
        </Root>
    </Loggers>
</Configuration>